/* Sacar espacios en blanco*/

body,
html {
  background-color: #E7E7E7;
  margin: 0;
  padding: 0;
}

/* Fondo verde del encabezado*/

.encabezado {
  background-color: #94BE1F;
  padding: 0.5%;
}

/* Logo de Olé*/

.encabezado img {
  display: flex;
  margin-left: 10%;
  width: 6%;
  height: auto;
}

@media screen and (max-width: 540px) {
  .encabezado img {
    display: flex;
    margin-left: 10%;
    width: 20%;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .encabezado img {
    display: flex;
    margin-left: 5%;
    width: 20%;
    height: auto;
    padding: 2%;
  }
}


@media screen and (max-width: 425px) {
  .encabezado img {
    display: flex;
    margin-left: 5%;
    width: 20%;
    height: auto;
    padding: 2%;
  }
}


/* Imagen principal*/

.contenido {
  position: relative;
  display: flex;
  background-image: url("../assets/img/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
}

.principal {
  padding-left: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-right: 600px;
  text-align: left;
}

@media screen and (max-width: 1000px) {
  .contenido {
    position: relative;
    display: flex;
    background-image: url("../assets/img/fondo2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
  }

  .principal {
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-right: 200px;
    text-align: left;
  }
}

@media screen and (max-width: 500px) {
  .contenido {
    position: relative;
    display: flex;
    background-image: url("../assets/img/fondo3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
  }
}


@media screen and (max-width: 425px) {
  .contenido {
    position: relative;
    display: flex;
    background-image: url("../assets/img/fondo3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
  }
}


@media screen and (max-width: 425px) {
  .contenido {
    position: relative;
    display: flex;
    background-image: url("../assets/img/fondo3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
  }
}


/* CTA*/

.cta {
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 700;
  display: inline-block;
  padding: 3% 6%;
  background-color: #CF3141;
  color: white;
  text-decoration: none;
  border-radius: 160px;
  font-size: 120%;
  transition: background-color 0.6s;

  @media screen and (max-width: 768px) {
    justify-content: center;
    text-align: center;
  }

  @media screen and (max-width: 500px) {
    justify-content: center;
    text-align: center;
    font-size: 125%;
    padding: 7% 15%;

  }

  @media screen and (max-width: 425px) {
    justify-content: center;
    text-align: center;
    font-size: 100%;
    padding: 7% 18%;

  }

  @media screen and (max-width: 379px) {
    justify-content: center;
    text-align: center;
    font-size: 100%;
    padding: 7% 12%;

  }

}

/* Tipografía */

.principal h1 {
  color: white;
  font-size: 300%;
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 900;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .principal h1 {
    font-size: 200%;
  }
}

@media screen and (max-width: 500px) {
  .principal h1 {
    font-size: 240%;
    text-align: center;
    margin-bottom: 40px;
  }

  .principal {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 80%;
    margin-right: 0px;
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .principal h1 {
    font-size: 240%;
    text-align: center;
    margin-bottom: 40px;
  }

  .principal {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 80%;
    margin-right: 0px;
    text-align: center;
  }
}

@media screen and (max-width: 350px) {
  .principal h1 {
    font-size: 200%;
    text-align: center;
    margin-bottom: 40px;

  }
}



.principal h2 {
  color: white;
  font-size: 90%;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  margin-bottom: 40px;
  margin-right: 50px;

  @media screen and (max-width: 768px) {
    font-size: 8px;
    text-align: left;
    justify-content: center;
    margin-right: 20px;

  }
}

@media screen and (max-width: 500px) {
  .principal h2 {
  font-size: 18px;
  text-align: left;
  justify-content: center;
  margin-right: 0%;
  margin-bottom: 40px;
  }

}

@media screen and (max-width: 374px) {
  .principal h2 {
  font-size: 16px;
  text-align: left;
  justify-content: center;
  margin-right: 0%;
  margin-bottom: 40px;
  }

}

.titulo {
  display: flex;
  flex-direction: column;
}

p peso {
  font-weight: bold;
}

.titulo h2 {
  margin-left: 10%;
  margin-right: 10%;
  color: #131C62;
  font-size: 200%;
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 900;
  margin-top: 80px;
  margin-bottom: 0%;
}

.titulo p {
  margin-left: 10%;
  font-size: 90%;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  margin-right: 10%;
}

.titulo img[src$="/assets/img/abajoseccion.png"] {
  padding-left: 10%;
  width: 5%;
  height: auto;
}


.titulo iframe {
  align-self: center;
  justify-self: center;
  height: 200%;
  width: 80%;
}


@media screen and (max-width: 540px) {
  .titulo h2 {
    margin-left: 10%;
    margin-right: 10%;
    color: #131C62;
    font-size: 190%;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 900;
    margin-top: 60px;
    margin-bottom: 0%;
    text-align: center;
  }

  .titulo img[src$="./assets/img/abajoseccion.png"] {
    display: flex;
    width: 10%;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-30%);
  }
}

@media screen and (max-width: 332px) {
  .titulo h2 {
    margin-left: 10%;
    margin-right: 10%;
    color: #131C62;
    font-size: 170%;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 0%;
    text-align: center;
  }

}

.video-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 45%;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* CONTADOR */

.timer {
  margin: 0% 10%;
  margin-top: 1.4%;
  padding: 2% 10%;
  height: auto;
  background-image: url("../assets/img/Timer2.png");
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logocopa {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
}

.logocopa img {
  max-width: 80%;
  margin-left: -10%;
}

.countdown-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.countdown {
  text-align: center;
  margin: 0 10px;
  flex: 1;
}

.num {
  color: white;
  font-size: 300%;
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 900;
}

.texto {
  color: white;
  font-size: 100%;
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 400;
}

@media (max-width: 768px) {

  .logocopa img {
    display: none;
  }

  .countdown {
    margin: 0 10px;
  }

  .num {
    font-size: 200%;
  }

  .texto {
    font-size: 80%;
  }
}

@media (max-width: 425px) {

  .logocopa img {
    display: none;
  }

  .countdown {
    margin: 0 5px;
  }

  .num {
    font-size: 180%;
  }

  .texto {
    font-size: 70%;
  }
}

/* Cambiar color CTA al pasar el mouse por arriba */

.cta:hover {
  background-color: #BD2938;
}

/* Selecciones slider */


.slider {
  overflow-x:hidden;
  /* Desplazamiento horizontal */
  white-space: nowrap;
  padding-bottom: 1%;
  padding-left: 10%;
  padding-right: 10%;
}

.slide {
  display: inline-block;
  margin-top: 2%;
  margin-right: 2%;
}


.slide img {
  height: auto;
  width: 240px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.slide img:hover {
  box-shadow: 0 10px 6px -6px rgb(131, 131, 131);
}


/* Selecciones slider final*/

/*Info de los partidos*/


.fondosel {
  display: flex;
  justify-content: center;
}

.fondosel {
  background-image: url("../assets/img/paises/fondosel.png");
  background-size: cover;
  height: max-content;
  background-position: center;
}

.paises {
  width: 100%;
  height: auto;
  text-align: center;
}

.paises h2 {
  margin: 0%;
  color: white;
  font-size: 300%;
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 900;
}

.paises img {
  padding-top: 5%;
  max-width: 40%;
  height: auto;
}


@media screen and (max-width: 540px) {
  .paises h2 {
    margin: 0%;
    color: white;
    font-size: 100%;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 900;
  }

  .paises img {
    padding-top: 5%;
    max-width: 80%;
    height: auto;
  }

  .slide img {
    height: auto;
    width: 180px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
  }

}

.calendario {

  padding-bottom: 5%;

}


/* BENEFICIOS */

.contenidosec3 {
  margin: 2% 10%;
  width: 80%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px 30px;
}

.revistas {
  overflow: visible;
}

.revistas img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.textesec3 {
  text-align: left;
}


@media (max-width: 1000px) {


  .contenidosec3 {
    margin: 1% 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }

  .revistas img {
    margin: 0 10%;
    margin-top: 2%;
    width: 80%;
    height: 100%;
    object-fit: contain;
  }

  .textesec3 p {
    text-align: left;
    font-size: 60%;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
  }

}

@media (max-width: 500px) {

  .contenidosec3 {
    grid-gap: 20px;
  }

  .revistas img {
    margin-bottom: 2%;
  }

}

/* CARDS */

main.cards {
  display: flex;
  padding: 5% 10%;
  justify-content: center;
}

main.cards section.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: white;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  max-height: 468px;
  margin-left: 5%;
}

main.cards section.card:first-child {
  margin-left: 0;
}

main.cards section.card .icon {
  width: 256px;
  height: 256px;
}

main.cards section.card img {
  width: 100%;
}

main.cards section.card span {
  font-weight: 300;
  max-width: 240px;
  font-size: 90%;
  margin-bottom: 16px;
  color: #131C62;
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width: 1160px) {
  main.cards {
    flex-direction: column;
  }

  main.cards section.card {
    margin-left: 0;
    margin-bottom: 32px;
  }

  main.cards section.card:last-child {
    margin-bottom: 0;
  }

  main.cards section.card button {
    font-size: 70%;
  }

}


@media screen and (max-width: 720px) {
  main.cards {
    flex-direction: column;
  }

  main.cards section.card {
    margin-left: 0;
    margin-bottom: 32px;
  }

  main.cards section.card:last-child {
    margin-bottom: 10px;
  }

  main.cards section.card button {
    font-size: 70%;
  }

}

/* FORMULARIO */

.formulario {
  background-image: url(../assets/img/fondoforms.png);
  background-size: cover;
  background-position: right;
  padding-bottom: 5%;
  padding-top: 5%;
}

.formulario h3 {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  font-size: 220%;
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 900;
}

#formulario-principal {
  padding-top: 2%;
  width: 550px;
  height: 600px;
  margin-left: 10%;
  background-color: #1D1D1D;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.textoFormulario {
  color: white;
  font-size: 24px;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  margin-left: 10%;
  margin-top: 4%;
}

.espacioEscritura {
  height: 10%;
  border-radius: 8px;
  color: white;
  border-color: white;
  background-color: #1D1D1D;
  font-size: 100%;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  margin-left: 10%;
  margin-right: 10%;
}

.desplegable {
  height: 10%;
  border-radius: 8px;
  color: white;
  border-color: white;
  background-color: #1D1D1D;
  font-size: 100%;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  margin-left: 10%;
  margin-right: 10%;
}

.enviarinfo {
  display: flex;
  justify-content: center;
}

.botonEnviar {
  width: 80%;
  height: 90%;
  margin-top: 10%;
  border: none;
  border-radius: 4px;
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 700;
  display: inline-block;
  background-color: #CF3141;
  color: white;
  text-decoration: none;
  border-radius: 160px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.6s;
}

.botonEnviar:hover {
  background-color: #BD2938;
}

@media screen and (max-width: 1000px) {
  .formulario {
    display: flex;
    justify-content: center;
  }

  #formulario-principal {
    padding-top: 2%;
    width: 550px;
    height: 600px;
    margin-left: 0%;
    background-color: #1D1D1D;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }

  .formulario h3 {
    margin-left: 0%;
    margin-right: 0%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 150%;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 900;
  }

}

@media screen and (max-width: 583px) {
  .formulario {
    background-image: url(../assets/img/fondoforms2.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 2%;
    padding-top: 2%;
  }

  #formulario-principal {
    padding-top: 2%;
    width: 100%;
    height: 600px;
    margin-left: 0%;
    background-color: #1D1D1D;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }

  .formulario h3 {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 200%;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 900;
  }

}

@media screen and (max-width: 425px) {

  .formulario {
    background-image: url(../assets/img/fondoforms2.png);
    background-size: cover;
    background-position: right;
    padding-bottom: 0%;
    padding-top: 0%;
  }

  #formulario-principal {
    padding-top: 2%;
    margin-bottom: 0;
    width: 100%;
    height: 500px;
    margin-left: 0%;
    background-color: #1D1D1D;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }

  .formulario h3 {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 160%;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 900;
  }

}

@media screen and (max-width: 342px) {

  .formulario {
    padding-bottom: 0px;
    padding-top: 0%;
  }

  #formulario-principal {
    padding-top: 2%;
    width: 100%;
    height: 500px;
    margin-left: 0%;
    background-color: #1D1D1D;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }

  .formulario h3 {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 140%;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 900;
  }

  .botonEnviar {
    width: 80%;
    height: 90%;
    margin-top: 10%;
    border: none;
    border-radius: 4px;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 700;
    display: inline-block;
    background-color: #CF3141;
    color: white;
    text-decoration: none;
    border-radius: 160px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.6s;
  }

}

/* MENSAJE FORMULARIO */

.popup-contenedor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  /* Fondo transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  /* popup arriba de todo */
}

.popup {
  width: 50%;
  background-color: #1D1D1D;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  /* Sombra para resaltar */
  text-align: center;
}

.popup h2 {
  margin-top: 10px;
  font-size: 300%;
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 900;
  margin-bottom: 2%;
  color: #94BE1F;
  margin-bottom: 10px;
}

.popup p {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 150%;
  margin-bottom: 2%;
}

.popup a {
  margin-top: 4%;
  width: 60%;
  height: 10%;
  border: none;
  border-radius: 2%;
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 700;
  display: inline-block;
  background-color: #CF3141;
  color: white;
  text-decoration: none;
  border-radius: 160px;
  font-size: 150%;
  text-decoration: none;
  transition: background-color 0.6s;
  text-align: center;
  line-height: 300%;
  cursor: pointer;
}

.popup a:hover {
  background-color: #BD2938;
}

.oculto {
  display: none;
  /* Oculta el popup */
}

@media (max-width: 1000px) {

  .popup h2 {
    margin-top: 5%;
    margin-bottom: 15%;
  }

  .popup p {
    align-items: left;
    margin: 2% 0;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 100%;
    margin-bottom: 6%;
  }

}

@media (max-width: 630px) {

  .popup h2 {
    margin-top: 1%;
    margin-bottom: 10%;
    font-size: 200%;
  }

  .popup p {
    align-items: left;
    margin: 1% 0;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 100%;
    margin-bottom: 6%;
  }

  .popup a {
    margin-top: 4%;
    width: 70%;
    height: 20%;
    border: none;
    border-radius: 2%;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 700;
    display: inline-block;
    background-color: #CF3141;
    color: white;
    text-decoration: none;
    border-radius: 160px;
    font-size: 100%;
    text-decoration: none;
    transition: background-color 0.6s;
    text-align: center;
    line-height: 300%;
    cursor: pointer;
  }

}

@media (max-width: 430px) {

  .popup {
  width: 60%;
  background-color: #1D1D1D;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  /* Sombra para resaltar */
  text-align: center;
}

  .popup h2 {
    margin-top: 2%;
    margin-bottom: 10%;
    font-size: 180%;
  }

  .popup p {
    align-items: left;
    margin: 1% 0;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 80%;
    margin-bottom: 6%;
  }

  .popup a {
    margin-top: 4%;
    width: 70%;
    height: 20%;
    border: none;
    border-radius: 2%;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 700;
    display: inline-block;
    background-color: #CF3141;
    color: white;
    text-decoration: none;
    border-radius: 160px;
    font-size: 100%;
    text-decoration: none;
    transition: background-color 0.6s;
    text-align: center;
    line-height: 300%;
    cursor: pointer;
  }

}

@media (max-width: 360px) {



}

/* FOOTER */

.footer {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  margin: 2% 10%;
  flex-wrap: wrap;
}

.footerredes {
  font-family: 'Heebo', sans-serif;
  font-weight: 900px;
  margin-left: 10%;
  margin-bottom: 2%;
}

.redes img {
  display: flexbox;
  margin-right: 2%;
}

.logofooter a {
  width: 98px;
  height: 72px;
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  margin-top: 15%;
}

.mail {
  display: flex;
  flex-direction: row;
  margin-bottom: 15%;
  margin-top: 5%;
}

.mail img,
.celular img {
  margin-right: 10%;
}

.celular {
  display: flex;
  flex-direction: row;
}

.mail p,
.celulartexto h4,
.celulartexto p {
  margin: 0;
}

.celulartexto {
  white-space: nowrap;
  max-width: 10%;
  text-overflow: ellipsis;
}

.mail,
.celular {
  align-items: center;
}

.pregfrecuen {
  font-size: 100%;
  display: flex;
  flex-direction: column;
}

.pregfrecuen a {
  margin-top: 2%;
  margin-bottom: 2%;
}


@media (max-width: 1100px) {
  .footer {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    margin: 2% 10%;
    flex-wrap: wrap;
  }

  .mail img,
  .celular img {
    display: none;
  }

  .logofooter {
    display: block;
  }

  .celulartexto {
    margin-bottom: 6%;
    font-size: 100%;
  }

  .footerredes {
    font-family: 'Heebo', sans-serif;
    font-weight: 900px;
    margin-left: 10%;
    margin-bottom: 2%;
  }

  .footerredes h3 {
    font-size: 100%;
  }

}

@media (max-width: 525px) {
  .footer {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    margin: 2% 5%;
    flex-wrap: wrap;
  }

  .mail img,
  .celular img {
    display: none;
  }

  .mail, .celular {
    display: flex;
    flex-direction: row;
    margin-bottom: 15%;
    margin-top: 15%;
  }

  .logofooter {
    display: none;
  }

  .celulartexto {
    margin-bottom: 6%;
    font-size: 80%;
  }

  .redes h3{
    margin: 5% 0%;
    font-weight: 100px;
  }

  .redes a{
    margin: 5% 2%;
  }

  .footerredes {
    font-family: 'Heebo', sans-serif;
    font-weight: 100px;
    margin-left: 5%;
    margin-bottom: 5%;
  }

  .footerredes img{
    max-height: 30px;
  }

}


/* AVISO LEGAL */

.avisolegal {
  display: flex;
  background-color: #000;
  justify-content: center;
}

.avisolegal p {
  margin: 1% 0;
  text-align: center;
  color: #fff;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 100%;
}

@media (max-width: 1000px) {

  .avisolegal {
    display: flex;
    background-color: #000;
    justify-content: center;
  }

  .avisolegal p {
    margin: 0.5% 0.1%;
    text-align: center;
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 75%;
  }

}

@media (max-width: 600px) {

  .avisolegal {
    display: flex;
    background-color: #000;
    justify-content: center;
  }

  .avisolegal p {
    margin: 1.5% 5.5%;
    text-align: center;
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 70%;
  }

}

@media (max-width: 400px) {

  .avisolegal {
    display: flex;
    background-color: #000;
    justify-content: center;
  }

  .avisolegal p {
    margin: 3.5% 2.5%;
    text-align: center;
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 50%;
  }

}